$link-color: #785482;
$body-font-family: Roboto, sans-serif;

$purple-000: #9f79ad;
$purple-100: #785482;

$green-000: #97cba8;
$green-100: #6d997a;

$sidebar-color: #fae9ff;
$code-background-color: #e1ffe9;
$feedback-color: darken($sidebar-color, 3%);

$body-text-color: #000;
$body-heading-color: #000;
$search-result-preview-color: $purple-000;
$nav-child-link-color: $purple-100;
$link-color: $purple-000;
$btn-primary-color: $purple-100;
$base-button-color: #e1ffe9;